<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Here we go</p>
    <p> 
      Item successfully added to your cart!
    </p>
  </body>
</html>